<div class="container">
<a href="#/" class="pull-right">Go Back</a><!-- /.pull-right -->
<h2 class="text-center">Showing Recommended Cocktail</h2>

	<div class="col-md-6 col-md-offset-3">
		
	<div class="input-group">
	    <span class="input-group-addon" id="basic-addon1">Filter by Ingredient or Name:</span>
	    <input type="text" class="form-control" placeholder="Ingredient or cocktail name" aria-describedby="basic-addon1" ng-model="ing">
	</div>
	<br />
    <div class="list-group" ng-repeat="c in cocktails | filter: ing">
        <a href="#/show/{{c.id}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{c.name}} </h4>
            <p class="list-group-item-text" ng-repeat="i in c.ingredients">{{i}}</p>
        </a>
    </div>
	</div><!-- /.col-md-6 col-md-offset-3 -->
    
</div><!-- /.container -->
