<div class="container">
	<div class="row">
		<h1 class="text-center">Cocktail Randomizer!</h1>
		<hr />
		<div class="col-sm-6 col-sm-offset-3">

			<form ng-submit="addIngredient()">
				<div class="form-group">
					<label>Your ingredient:</label>
					<input type="text" class="form-control" placeholder="ingredient" ng-model="ing"/>
				</div><!-- /.form-group -->
			</form>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="i in ingredients">{{i}} </li><!-- /.list-group item -->
			</ul><!-- /.list-group -->
			<div class="text-center">
				<input type="button" class="btn btn-danger" value="Clear All" ng-click="clearIngredient()" />
				<input type="submit" class="btn btn-info" value="Get Me A Drink" ng-click="submit()" />
			</div>
		</div><!-- /.col-md-6 col-md-offset-3 -->
	</div><!-- /.row -->
</div><!-- /.container -->